In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("vaccinaton_in_ohio_valley_colleges.csv")

In [5]:
df.groupby('City').total_enrollment_fall_2019.sum().sort_values()

City
Wickliffe            54
Jackson              72
Yellow Springs       95
Pineville           123
Mount Hope          227
                  ...
Cleveland         30987
Louisville        34239
Bowling Green     35904
Cincinnati        49094
Columbus          65176
Name: total_enrollment_fall_2019, Length: 91, dtype: int64

In [8]:
df.City.value_counts()

Louisville       6
Cincinnati       6
Cleveland        6
Columbus         5
Bowling Green    2
                ..
Huntington       1
Hiram            1
Grayson          1
Springfield      1
Rio Grande       1
Name: City, Length: 91, dtype: int64

In [13]:
df.groupby(['Zip', 'City']).total_enrollment_fall_2019.sum().sort_values().tail(10)

Zip    City
42101  Bowling Green    18171
43606  Toledo           19694
45056  Oxford           19716
40208  Louisville       21670
26506  Morgantown       26839
45701  Athens           27367
44242  Kent             27716
40503  Lexington        29402
45221  Cincinnati       39263
43210  Columbus         61391
Name: total_enrollment_fall_2019, dtype: int64